@import 'variables.scss';

.appbar {
    align-content: center;
    background-color: $primary;
    display: flex;
    height: $appbar-height;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;


    .appbar-nav-button, .appbar-title, .appbar-item {
        align-items: center;
        display: inline-flex;
        color: $fg-white;
        justify-content: center;
        padding: 0.45rem;
    }
    .appbar-nav-button {
        cursor: pointer;
        width: 3.5rem;
    }
    .appbar-title {
        margin-right: auto;
    }
    .appbar-item {
        display: inline-flex;
        justify-content: center;
        cursor: pointer;
        span {
            margin: 0 .25rem;
        }
        i {
            width: 1.5rem;
        }
        &:last-of-type {
            margin-right: 1.5rem;
        }
        &:hover {
            background-color: $appbar-hover;
        }
    }
}
