@import 'variables.scss';

.appbar {
    align-content: center;
    background-color: $primary;
    display: flex;
    height: $appbar-height;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;

    .appbar-nav-button {
        align-items: center;
        display: inline-flex;
        color: $fg-white;
        cursor: pointer;
        justify-content: center;
        margin: 8px;
        width: 48px;
    }
    .appbar-title {
        align-items: center;
        color: $fg-white;
        display: inline-flex;
        justify-content: center;
        margin: 8px;
    }
}
