@import 'variables.scss';

* {
    font-family: "Roboto", sans-serif;;
    font-size: 18px;
    font-weight: 100;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body, html {
    min-height: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    padding: 1.25rem;
    margin-left: $sidebar-width;
    margin-top: $appbar-height
}
