.card-scores {
    display: inline-block;
    margin-bottom: 1rem;
    width: 49%;
}
.card-scores:nth-child(even) {
    margin-left: 1rem;
}

.full-width {
    display: block;
    margin-bottom: 1rem;
    width: 100%;
}
