ul {
    list-style: none;

    li {
        display: flex;
        justify-content: center;
        padding: .5rem;
        width: 100%;

        * {
            display: inline-flex;
            align-content: center;
        }
        div {
            width: 40%;
        }
        div:first-of-type {
            .team {
                order: 1;
            }
            img {
                justify-content: flex-start;
                margin-left: 1em;
                order: 2;
            }
        }
        div:last-of-type {
            .team {
                order: 2;
            }
            img {
                justify-content: flex-end;
                margin-right: 1em;
            }
        }
        span {
            align-self: center;
        }
        div:first-of-type .team {
            justify-content: flex-end;
        }
        .team {
            width: 80%;
        }
        .score {
            justify-content: center;
            width: 4em;
        }
    }
}
